---
- name: download pyenv installer
  get_url:
    url: https://raw.githubusercontent.com/pyenv/pyenv-installer/master/bin/pyenv-installer
    dest: "{{ pyenv_tmp_installer }}"
    mode: "0755"
  when: not pyenv_installed

- name: install pyenv as the user
  command: "{{ pyenv_tmp_installer }} -y"
  become: true
  become_user: "{{ python_user }}"
  when: not (pyenv_installed | bool)

- name: patch bashrc
  blockinfile:
    dest: "{{ python_user_home }}/.bashrc"
    owner: "{{ python_user }}"
    group: "{{ python_user }}"
    marker: "# {mark} ansible: naftulikay.python-dev"
    block: |-
      # pyenv
      export PYENV_ROOT="$HOME/.pyenv"
      export PATH="$PYENV_ROOT/bin:$PATH"
      eval "$(pyenv init -)"

- name: remove temp installer
  file: name="{{ pyenv_tmp_installer }}" state=absent
