# set pyenv root
export PYENV_ROOT="$HOME/.pyenv"

# source bash completions if we're in bash
if [ "$(echo "$SHELL" | tr '/' '\n' | tail -1)" = "bash" ]; then
  test -e "$PYENV_ROOT/completions/pyenv.bash" && \
    . "$PYENV_ROOT/completions/pyenv.bash"
fi

# initialize pyenv
if which pyenv >/dev/null 2>&1 ; then
  eval "$(pyenv init -)"
fi

__prepend_path() {
  is_present=n

  echo "$PATH" | tr ':' '\n' | while read path_component ; do
    if [ "$path_component" = "$1" ]; then
      is_present=y
      break
    fi
  done

  if [ "$is_present" = "n" ]; then
    export PATH="$1:$PATH"
  fi

  unset is_present
}

__prepend_path "$PYENV_ROOT/shims"
__prepend_path "$PYENV_ROOT/bin"
unset __prepend_path
